<div class="row p-5">
    <p class="text-break">
        Hola! Somos el equipo <b>The King Team</b>. 
        Somos un grupo de personas dedicadas a ayudar con tareas escolares de secundaria 
        de diferentes cursos y de cualquier colegio. Solamente tienen que contactarnos
        para mandarnos sus tareas 😀
    </p>

    <br>

    <p class="text-break">
        Nuestro equpio está conformado por 3 colaboradores 😝:
    </p>

    <ul style="padding-left: 3rem;">
        <li>SG</li>
        <li>ALCE</li>
        <li>LNO</li>
    </ul>

    <br>

    <p class="text-break">
        Gracias por confiar en nosotros 😊
    </p>

    <br>

    <p class="text-break">
        Puede contactarse con nosotros mediante el correo 📧 <b>lno@gmail.com</b>
        o mediante el WhatApp 📱 <b>921 491 317</b>
    </p>
</div>
