<header>
  <nav>

    <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </div>

    <div class="logo">The King Team</div>
    <!-- <div ><a routerLink="/" class="logo">The King Team</a></div> -->

    <div class="menu">
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/about">Nosotros</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>

  </nav>
</header>
