.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 100;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 200;
}

.ulist {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

a.a-list {
  position: relative;
  padding: 12px 36px;
  margin: 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-radius: 0.25rem;
}

.list-item {
  display: inline-block;
  padding: 16px 20px;;
}

.list-item-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transition: ease-in;
}

.dropdown-content {
  visibility: hidden;
  position: fixed;
  background-color: #f9f9f93f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 210;
  right: 1%;
  transition: all 0.3s;
}

.dropdown-content-opc {
  right: 15%;
}

.list-item-dropdown:hover .dropdown-content, .list-item-dropdown:hover .dropdown-content-opc {
  visibility: visible;
}

.ml-3 {
  margin-left: 10px;
}

.ta-l {
  text-align: left;
  line-height: 40px;
}

.a-list {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

a.a-dropdown {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

h5, p {
  color: #fff;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/*
**********************************************************************
------------------------White when scroll down------------------------
**********************************************************************
*/
nav.black ul.ulist {
  background: #fff;
  color:#000;
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

nav.black ul.ulist li a.a-list {
  color:#000;
}

nav.black .logo {
  color:#000;
}

nav.black .dropdown-content {
  background: #fff;
}

nav.black .dropdown-content .a-dropdown {
  color:#000;
}

nav.black h5, nav.black p {
  color:#000;
}

/*
**********************************************************************
-----------------------------Media Query------------------------------
**********************************************************************
*/
@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  .ulist {
    max-height: 0px;
    background: #000;
  }

  nav.black ul.ulist {
    background: #fff;
    color:#000;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  }
  
  nav.black ul.ulist li a.a-list {
    color:#000;
  }

  nav.black .logo {
    color:#000;
  }
  
  nav.black .dropdown-content {
    background: #fff;
  }

  .showing {
    max-height: 34em !important;
  }

  .list-item {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

}

/*
**********************************************************************
-----------------------------Click effect-----------------------------
**********************************************************************
*/
/* Not work */

/*
* https://codepen.io/BretCameron/pen/mdPMVaW
* https://www.youtube.com/watch?v=ueyRcYEmsrI&ab_channel=OnlineTutorials
*/

span.user-name {
  position: relative;
  margin: 10px 0px;
  padding: 5px 10px 5px 0px;
  background-color: rgba(0, 0, 255, 0.103);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 0.25rem;
}

span.click-effect {
  position: absolute;
  background: #000;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: animate 2s linear infinite;
  -webkit-animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@-webkit-keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* Adicional */
/* https://codepen.io/anitaparmar26/pen/mdExWPZ?editors=1100 */