/* You can add global styles to this file, and also import other style files */
.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    width: 25px;
    border-radius: 100%;
    border: 1px solid grey;
}

.cursor {
    cursor: pointer;
}

.text-right {
    float: right;
}